.pared {
	background-color: #0B0A0A;
}
.camino {
	background-color: #FFFFFF;
	color: #FFFFFF;
	z-index: 1;
}
.inicioFin {
	background-color: #F5F805;
	color: #FC0505;
	z-index: 1;
}
table {
	text-align: center;
}
.div {
	width: 15px;
    height: 15px;
    background-color: #ec00ff;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(90deg);
    position: absolute;
    left: 26px;
    top: 212px;
    z-index: 2;
}

td {
    height: 20px;
    width: 25px
}
/*#img {
	background-color: bisque;
	position: inherit;
    z-index: 2;
}*/
.rotar90 {
     background-image: url(../icn/flecha_derecha.png);
     background-color: bisque;
}
.rotar360 {
    background-image: url(../icn/flecha_arriba.png);
    background-color: bisque;
}
.rotar180 {
    background-image: url(../icn/flecha_abajo.png)
    background-color: bisque;
}
.rotar180 {
    background-image: url(../icn/flecha_izquierda.png)
    background-color: bisque;
}